@use '@/styles/variables' as *;

.faqPage {
  min-height: calc(100dvh - #{$header-height-mobile});
  @include tablet {
    min-height: calc(100dvh - #{$header-height-tablet});
  }
  @include desktop {
    min-height: calc(100dvh - #{$header-height-desktop});
  }

  .linkBtnList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
  }
}