@use '@/styles/variables' as *;

.tag {
  flex-shrink: 0;
  display: block;
  padding: 0.4rem 0.8rem;
  border: 1px solid $bg-base;
  border-radius: 9999px;
  background-color: $bg-base;
  font-size: 0.9rem;
  color: $text-secondary;
  cursor: pointer;

  @include tablet {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  &:hover {
    border: 1px solid $text-active;
    color: $text-active;
  }

  &.active {
    border: 1px solid $text-active;
    color: $text-active;
  }
}
