@use '@/styles/variables' as *;

.homeCasesSection {
  padding: 4rem 0;
  background-color: $bg-secondary;

  @include tablet {
    padding: 6rem 0;
  }

  // ------------------------------------------
  // # header
  // ------------------------------------------
  .header {
    .title {
      margin-bottom: 2rem;
      text-align: center;

      @include tablet {
        margin-bottom: 4rem;
        font-size: 2rem;
      }

      .br {
        @include tablet {
          display: none;
        }
      }

      .strong {
        color: $text-active;
      }
    }

    .description {
      display: block;
      font-size: 0.9rem;
      color: $text-secondary;
      text-align: center;

      @include tablet {
        font-size: 1rem;
      }
    }
  }

  // ------------------------------------------
  // # body
  // ------------------------------------------
  .body {
    .listWrapper {
      overflow-x: scroll;
      -ms-overflow-style: none;
      user-select: none;
      -webkit-user-drag: none;
      cursor: grab;
      @include screen-padding;

      &::-webkit-scrollbar {
        display: none;
      }
      
      .list {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        @include screen-padding;

        @include tablet {
          margin-top: 4rem;
        }
      }
    }
  }
}