@use '@/styles/variables' as *;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $drawer-zindex;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100dvh;
  background-color: $bg-base;
  transition: transform 0.3s ease-in-out;
  
  @include tablet {
    display: none;
  }

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(100%);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-mobile;
    border-bottom: 1px solid $border-base;
    @include screen-padding;

    .brand {
      font-size: 1.2rem;
    }

    .icon {
      font-size: 1.4rem;
    }
  }

  .body {
    flex-grow: 1;
    padding: 3rem 0 1rem;

    .list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      height: 100%;
      @include screen-padding;

      .item {
        &:last-child {
          margin-top: auto;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 1rem;

          .icon {
            font-size: 1.3rem;
            color: $text-active;
          }
        }
      }
    }
  }
}