@use '@/styles/variables' as *;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $drawer-zindex;
  width: 80%;
  height: 100dvh;
  background-color: $bg-base;
  transition: transform 0.3s ease-in-out;
  
  @include tablet {
    display: none;
  }

  &.open {
    transform: translateX(0);
  }

  &.close {
    transform: translateX(100%);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height-mobile;
    margin-bottom: 3rem;
    border-bottom: 1px solid $border-base;
    @include screen-padding;

    .brand {
      font-size: 1.2rem;
    }

    .icon {
      font-size: 1.4rem;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include screen-padding;

    .item {
      
      .link {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          font-size: 1.3rem;
          color: $text-color-active;
        }

        .name {
        }
      }
    }
  }
}