@use '@/styles/variables' as *;

.servicePage {
  min-height: calc(100dvh - #{$header-height-mobile});

  @include tablet {
    min-height: calc(100dvh - #{$header-height-tablet});
  }

  @include desktop {
    min-height: calc(100dvh - #{$header-height-desktop});
  }

  .heroSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 0;
    background-color: $bg-secondary;
    text-align: center;
    @include screen-padding;

    .eyebrow {
      font-weight: 600;
      color: $text-active;
      letter-spacing: 1px;
    }

    .title {
      font-size: 1.8rem;
      font-weight: 800;
      line-height: 1.5;

      @include tablet {
        font-size: 4rem;
      }

      .onlyMobileBr {
        @include tablet {
          display: none;
        }
      }

      .strong {
        font-weight: 800;
        color: $text-active;
      }
    }

    .description {
      font-size: 0.9rem;
      color: $text-secondary;
      line-height: 1.4;

      @include tablet {
        font-size: 1rem;
      }
    }
  }

  .flowList {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include desktop {
      max-width: $max-width;
      margin: 0 auto;
    }

    .item {
      position: sticky;
      margin: 0 auto;

      &:nth-child(1) {
        top: 6rem;
        width: 85%;
      }
      &:nth-child(2) {
        top: 7rem;
        width: 90%;
      }
      &:nth-child(3) {
        top: 8rem;
        width: 95%;
      }

      &:nth-child(4) {
        top: 9rem;
        width: 100%;
      }
    }
  }

  .linkBtnList {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 30rem;
    margin: 0 auto;
  }
}