@use '@/styles/variables' as *;

.contactFormContainer {
  @include screen-padding;
  @include desktop {
    display: flex;
    gap: 3rem;
    max-width: $max-width;
    margin: 0 auto;
  }

  .formWrapper {
    padding: 2rem 1.5rem;
    border: 1px solid $border-base;
    border-radius: $radius;
    @include desktop {
      flex: 1;
      width: 45%;
      padding: 2.5rem;
    }

    .header {
      margin-bottom: 3rem;

      .title {
        margin-bottom: 1rem;
        font-size: 1.8rem;
      }
      
      .desc {
        font-size: 0.9rem;
        color: $text-secondary;
        @include tablet {
          font-size: 1rem;
        }
      }
    }
      
    .form {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .fieldset {
        display: flex;
        padding: 0.8rem 0;
        border: none;
        border-bottom: 1px solid $border-base;
        &.textareaField {
          flex-direction: column;
          gap: 2rem;
        }

        .label {
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-weight: 500;

          .unit {
            margin-left: 0.4rem;
            font-size: 0.8rem;
            color: $text-secondary;
          }
        }

        .input {
          outline: none;
          border: none;
          font-family: inherit;
          font-size: inherit;
          color: $text-secondary;
        }

        .textarea {
          display: block;
          height: 7rem;
          border: none;
          outline: none;
          font-family: inherit;
          font-size: inherit;
          color: $text-secondary;
          letter-spacing: 0.5px;
          resize: none;
        }
      }
      
      .submitBtn {
        width: fit-content;
        margin-top: 2rem;
        padding: 0.8rem 1.5rem;
        border-radius: 9999px;
        background-color: $bg-active;
        font-size: 1.1rem;
        font-weight: 500;
        color: $text-inverse;
        &:hover {
          background-color: $bg-active-secondary;
        }
      }
    }
  }

  .introduce {
    display: none;
    @include desktop {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 2.5rem;
      border-radius: $radius;
      background-color: $bg-active;
      color: $text-inverse;
    }

    .header {
      margin-top: 5rem;

      .title {
        margin-bottom: 1rem;
        font-size: 3rem;
        line-height: 1.4;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 1rem;
      margin-top: auto;
      display: flex;
      flex-direction: column;
    }
  }
}