@use '@/styles/variables' as *;

.caseCardBigger {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  aspect-ratio: 1 / 0.7;
  border: 1px solid $border-base;
  border-radius: $radius;
  &::after {
    content: '';
    position: absolute;
    z-index: 2;
    inset: 0;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  }
  &:hover {
    border: 1px solid $text-active;

    .img {
      transform: scale(1.1);
    }

    .title {
      text-decoration: underline;
      text-underline-offset: 6px;
    }
  }

  .img {
    position: absolute;
    z-index: 1;
    inset: 0;
    transition: transform 0.2s ease-in-out;
  }

  .info {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: auto;
    padding: 1.5rem 1rem;
    color: $text-inverse;
    @include tablet {
      padding: 2rem 1.5rem;
    }
    @include desktop {
      padding: 3rem 2rem;
    }

    .tag {
      display: block;
      width: fit-content;
      padding: 0.3rem 0.5rem;
      border: 1px solid $text-inverse;
      border-radius: 9999px;
      font-size: 0.9rem;
      font-weight: 600;
      letter-spacing: 1px;
      @include tablet {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
      }
    }

    .title {
      font-size: 1.3rem;
      @include tablet {
        font-size: 1.6rem;
      }
    }
  }
}
