@use '@/styles/variables' as *;

.caseCard {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 15rem;
  border: 1px solid $border-base;
  border-radius: $radius;
  background-color: $bg-base;

  @include tablet {
    width: 18rem;
  }

  &:hover {
    .thumbnail {
      transform: scale(1.1);
    }
    
    .title {
      text-decoration: underline;
      text-underline-offset: 0.4rem;
    }
  }

  .thumbnailWrapper {
    overflow: hidden;
    position: relative;
    height: 13rem;

    @include tablet {
      height: 15rem;
    }

    .thumbnail {
      object-position: top;
      object-fit: cover;
      transition: transform 0.2s ease-in-out;
    }
  }

  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1.2rem 0.8rem 1rem;

    .header {
      .title {
        font-weight: 500;
      }
    }

    .body {
      .content {
        overflow: hidden;
        display: -webkit-box;
        font-size: 0.9rem;
        color: $text-secondary;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    border-top: 1px solid $border-base;
    
    .category {
      align-self: flex-start;
      margin-top: auto;
      padding: 0.5rem 0.8rem;
      border-radius: 9999px;
      background-color: $bg-active;
      font-size: 0.8rem;
      color: $text-inverse;
    }

    .icon {
      font-size: 1.8rem;
      color: $text-active;
    }
  }
}
