@use '@/styles/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  border-top: 1px solid $border-base;
  background-color: $bg-secondary;
  @include screen-padding;

  @include tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include desktop {
      flex-direction: row;
      gap: 5rem;
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;
    }

    .intro {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .banner {
        .bannerLink {
          font-size: 1.5rem;

          @include tablet {
            font-size: 1.8rem;
          }
        }
      }

      .description {
        font-size: 0.9rem;
        color: $text-secondary;

        @include tablet {
          font-size: 1rem;
        }
      }

      .iconList {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .item {
          &:last-child {
            .icon {
              font-size: 1.5rem;

              @include tablet {
                font-size: 1.9rem;
              }
            }
          }

          .icon {
            font-size: 2rem;

            @include tablet {
              font-size: 2.5rem;
            }
          }
        }
      }
    }

    .businessInfo {
      @include desktop {
        margin-left: auto;
      }

      .title {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;

        @include tablet {
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }
      }

      .infoList {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 0.9rem;
        color: $text-secondary;

        @include tablet {
          gap: 0.5rem;
        }

        .item {
          .text {
            @include tablet {
              font-size: 1rem;
            }
          }
        }
      }
    }
    
    .lawInfo {
      .title {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: 500;

        @include tablet {
          margin-bottom: 1rem;
          font-size: 1.1rem;
        }
      }

      .infoList {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        font-size: 0.9rem;
        color: $text-secondary;

        @include tablet {
          gap: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }

  .bottom {
    padding-top: 2rem;
    border-top: 1px solid $border-base;

    @include tablet {
      padding-top: 3rem;
    }

    .copyright {
      display: block;
      font-size: 0.8rem;
      text-align: center;

      @include tablet {
        font-size: 0.9rem;
      }
    }
  }
}